#dotepub {
	display: block !important;
	left: 0 !important;
	top: 0 !important;
	z-index: 2147483647 !important;
	width: 100% !important;
	/* Changed from center to left */
	text-align: left !important; 
	position: fixed !important;
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.4) !important;
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,0.4) !important;
	-o-box-shadow:0px 0px 20px rgba(0,0,0,0.4) !important;
	box-shadow:0px 0px 20px rgba(0,0,0,0.4) !important;
}

#dotepub #status {
	display: block !important;
	background: #d5eeab url('http://dotepub.com/i/dotepub.png') no-repeat left top !important;
	height: 32px !important;
	border-bottom:1px solid #85ba25 !important;
}

#dotepub #status p {
	display: block !important;
	/* Changed from center to left */
	text-align: left !important;
	margin: 0 !important;
	/* Added 40px padding to clear the dotepub logo on the left */
	padding: 5px 0 5px 40px !important; 
	font-family: Georgia, Serif !important;
	font-size: 14px !important;
	font-weight: bold !important;
	color: #000 !important;
}

#dotepub #status div {
	display: block !important;
	/* Changed from right to left */
	text-align: left !important;
	margin-top: 5px !important;
	margin-left: 40px !important;
	font-family: Verdana, Sans-serif !important;
	font-size: 11px !important;
	color: #000 !important;
}

#dotEPUB_info {
	display: block !important;
	/* Changed from right to left */
	text-align: left !important;
	margin-top: 5px !important;
	margin-left: 40px !important;
	font-family: Verdana, Sans-serif !important;
	font-size: 11px !important;
}

/* Kept these standard as they are usually inline/radio buttons */
#dotepub #status p input {
	margin: 3px 3px 0 5px !important;
	vertical-align: baseline !important;
}
